{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@lasalefamine/eslint-config",
    "@lasalefamine/eslint-config/hooks",
    "@lasalefamine/eslint-config/a11y"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/require-default-props": "off"
  }
}
