{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@lasalefamine/eslint-config",
    "@lasalefamine/eslint-config/hooks",
    "@lasalefamine/eslint-config/a11y"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  }
}
