.Text {
  line-height: 1.5;
  font-size: max(0.8rem, min(5vw, 1rem));

  &[data-text-size='small'] {
    font-size: max(0.8rem, min(5vw, 0.88rem));
  }

  &[data-text-weight='thin'] {
    font-weight: 100;
  }

  &[data-text-weight='medium'] {
    font-weight: 500;
  }

  &[data-text-weight='bold'] {
    font-weight: 700;
  }
}
