.Pill {
  border-radius: 1rem 1rem 1rem 1rem / 1.11rem 1.11rem 1.11rem 1.11rem;
  background-color: var(--pill-background);
  padding: 0.36rem 0.72rem;
  font-weight: 700;
  color: var(--pill-foreground);
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.36rem;
  cursor: default;

  @media (prefers-color-scheme: dark) {
    background-color: var(--pill-foreground);
    color: var(--pill-background);
  }

  &[data-pill-color='yellow'] {
    --pill-foreground: #574e00;
    --pill-background: #fff27d;
  }

  &[data-pill-color='green'] {
    --pill-foreground: #004f1f;
    --pill-background: #9cffc4;
  }

  &[data-pill-color='black'] {
    --pill-foreground: hsl(var(--color-80));
    --pill-background: hsl(var(--color-10));
  }

  &[data-pill-color='pink'] {
    --pill-foreground: #c90079;
    --pill-background: #fff0f9;
  }

  &[data-pill-color='grey'] {
    --pill-foreground: hsl(var(--accent-color));
    --pill-background: hsl(var(--color-10));
  }

  &[data-pill-color='lime'] {
    --pill-foreground: #3a5500;
    --pill-background: #dbfe90;
  }

  &[data-pill-color='orange'] {
    --pill-foreground: #663d00;
    --pill-background: #ffd79b;
  }

  &[data-pill-color='violet'] {
    --pill-foreground: #970088;
    --pill-background: #ffc8f9;
  }

  &[data-pill-color='blue'] {
    --pill-foreground: #003f62;
    --pill-background: #b0e3ff;
  }

  &[data-pill-color='cyan'] {
    --pill-foreground: #005954;
    --pill-background: #9dfbf6;
  }

  &[data-pill-color='purple'] {
    --pill-foreground: #8606ff;
    --pill-background: #f1e6fd;
  }
}
