.Pill {
  border-radius: 1rem 1rem 1rem 1rem / 1.11rem 1.11rem 1.11rem 1.11rem;
  background-color: var(--pill-background, hsl(var(--color-70)));
  padding: 0.36rem 0.72rem;
  font-weight: 700;
  color: var(--c, hsl(var(--color-0)));
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.36rem;
  cursor: default;

  &[data-pill-color='yellow'] {
    background-color: #fff27d;
    color: #574e00;
  }

  &[data-pill-color='green'] {
    background-color: #9cffc4;
    color: #004f1f;
  }

  &[data-pill-color='black'] {
    background-color: hsl(var(--color-80));
    color: #fff;
  }

  &[data-pill-color='pink'] {
    background-color: #fff0f9;
    color: #c90079;
  }

  &[data-pill-color='grey'] {
    background-color: hsl(var(--color-10));
    color: hsl(var(--accent-color));
  }

  &[data-pill-color='lime'] {
    background-color: #dbfe90;
    color: #3a5500;
  }

  &[data-pill-color='orange'] {
    background-color: #ffd79b;
    color: #663d00;
  }

  &[data-pill-color='violet'] {
    background-color: #ffc8f9;
    color: #970088;
  }

  &[data-pill-color='blue'] {
    background-color: #b0e3ff;
    color: #003f62;
  }

  &[data-pill-color='cyan'] {
    background-color: #9dfbf6;
    color: #005954;
  }

  &[data-pill-color='purple'] {
    background-color: #f1e6fd;
    color: #8606ff;
  }
}
