.PillsCloud {
  position: relative;
  max-width: 27.27rem;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;

  & ul {
    list-style: none;
  }
}

.Item {
  position: relative;

  @media (--from-large) {
    position: absolute;
    top: var(--top, 0);
    left: var(--left, 0);
  }
}
