@import 'media.css';

.Hero {
  --foreground: hsl(var(--color-0));

  color: var(--foreground);
  display: flex;
  flex-wrap: wrap;
  gap: 1.09rem clamp(1.45rem, 10vw, 4.36rem);

  @media (--from-medium) {
    flex-wrap: nowrap;
  }
  @media (--from-large) {
    justify-content: flex-end;
  }

  & > *:nth-child(1) {
    flex-grow: 1;
  }

  & > *:nth-child(2) {
    flex-grow: 1;

    @media (--from-large) {
      max-width: 580px;
      flex-basis: 40%;
    }
  }
}


.Photo {
  position: relative;
  display: inline-flex;
  border-radius: 4.54rem 1.09rem 1.09rem 1.09rem;
  overflow: hidden;
  justify-content: center;
  max-width: 18rem;
  min-width: 13.6rem;
  max-height: 60vh;

  @media (--from-medium) {
    max-height: unset;
  }
  @media (--from-large) {
    max-width: 24.1rem;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    backdrop-filter: blur(10px);
    border-radius: inherit;
  }
}

.Image {
  mix-blend-mode: overlay;
  border-radius: inherit;
  height: 100%;
}

@-moz-document url-prefix() {
  .Photo::before {
    z-index: 0;
  }

  .Image {
    opacity: 0.2;
    z-index: 2;
  }
}


.Title {
  transform: translateZ(0);
  margin-top: -9.09rem;

  @media (--from-medium) {
    margin-top: unset;
    text-align: end;
    transform: translateZ(0) translateX(-45%);
  }
  @media (--from-extraLarge) {
    white-space: nowrap;
  }

  & img {
    width: 80%;
  }

  & br {
    display: none;

    @media (--from-extraLarge) {
      display: unset;
    }
  }

  .Name {
    display: inline;
  }
}
