.Hero {
  --foreground: hsl(var(--color-0));

  color: var(--foreground);
  display: flex;
  flex-wrap: wrap;
  gap: 1.09rem clamp(1.45rem, 10vw, 6.36rem);
  justify-content: center;

  & > *:nth-child(1) {
    flex-grow: 1;
  }

  & > *:nth-child(2) {
    flex-grow: 1;

    @media (--from-medium) {
      max-width: 650px;
      flex-basis: 40%;
    }
  }
}


.Photo {
  position: relative;
  display: inline-flex;
  border-radius: 4.54rem 1.09rem 1.09rem 1.09rem;
  overflow: hidden;
  justify-content: center;
  max-width: 24.1rem;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    backdrop-filter: blur(10px);
    border-radius: inherit;
  }

  & .Image {
    mix-blend-mode: overlay;
    border-radius: inherit;
  }
}

@-moz-document url-prefix() {
  .Photo::before {
    z-index: 0;
  }

  .Image {
    opacity: 0.2;
    z-index: 2;
  }
}


.Title {
  text-align: start;

  @media (--from-medium) {
    white-space: nowrap;
    translate: -45%;
    text-align: end;
  }

  & br {
    display: none;

    @media (--from-medium) {
      display: unset;
    }
  }
}

.Name {
  display: inline;
}
