@media (prefers-color-scheme: dark) {
  :root {
    --global-background: hsl(var(--color-100));
    --global-foreground: hsl(var(--color-10));

    /* Heading */
    --heading-foreground: hsl(var(--color-0));

    /* Section */

    --section-bright-background: hsl(var(--color-100));
    --section-bright-foreground: hsl(var(--color-0));
  }
}
