@media (prefers-color-scheme: dark) {
  :root {
    --global-background: hsl(var(--color-100));
    --global-foreground: hsl(var(--color-10));

    /* Heading */
    --heading-foreground: hsl(var(--color-0));

    /* Pill */
    --pill-background: hsl(var(--color-90));
  }
}
