@import 'media.css';

.PostCard {
  position: relative;
  cursor: default;


  &:where(:hover, :focus-within) {
    background-image: linear-gradient(to bottom right, hsl(var(--accent-color-alt) / 20%), hsl(var(--accent-color-alt) / 0%));
  }

  & a {
    padding: 1.45rem;
    display: block;
    color: var(--global-foreground);
    text-decoration: none;

    & > * {
      pointer-events: none;
    }
  }

  &::before {
    counter-increment: post-counter;
    position: absolute;
    bottom: 0;
    right: -2.8rem;
    z-index: -1;
    display: none;
    color: var(--color-40);
    opacity: 0.1;
    line-height: 1;
    font-size: 7rem;
    font-weight: 100;
    transition: all 200ms;
    content: counters(post-counter, '.', decimal-leading-zero);

    @nest .PostCard:where(:hover, :focus-within)& {
      color: hsl(var(--accent-color-alt));
      opacity: 1;
    }

    @media (--from-medium) {
      display: block;
    }
  }
}


.Abstract {
  opacity: 0.8;
}
