@import 'media.css';

.Heading {
  &:is(h1, .H1, h2, .H2, h3, .H3, h4, .H4, h5, .H5, h6, .H6) {

    /* stylelint-disable-next-line number-max-precision */
    --headingsScale: 1.333;
    --headingBaseSize: 1rem;

    display: block;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;

    &[data-heading-line-height='none'] {
      line-height: 0.3;
    }

    &[data-heading-line-height='small'] {
      line-height: 1;
    }

    @media (width <= 48em) {
      --headingBaseSize: 0.72rem;
    }
  }

  &:is(h6, .H6) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size: var(--headingBaseSize);
  }

  &:is(h5, .H5) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale)
      );
  }

  &:is(h4, .H4) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale) * var(--headingsScale)
      );
  }

  &:is(h3, .H3) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale) * var(--headingsScale) *
        var(--headingsScale)
      );
  }

  &:is(h2, .H2) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale) * var(--headingsScale) *
        var(--headingsScale) * var(--headingsScale)
      );
  }

  &:is(.H1, h1) {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale) * var(--headingsScale) *
        var(--headingsScale) * var(--headingsScale) * var(--headingsScale)
      );
  }

  &.Display {
    font-weight: 900;
    min-height: 0.01vh;
    font-size:
      calc(
        var(--headingBaseSize) * var(--headingsScale) * var(--headingsScale) *
        var(--headingsScale) * var(--headingsScale) * var(--headingsScale) *
        var(--headingsScale) * var(--headingsScale)
      );
  }
}

