@import 'media.css';

.Header {
  --global-foreground: hsl(var(--color-0));

  display: flex;
  justify-content: space-between;
  padding:
    max(1.02rem, env(safe-area-inset-top))
    max(1.02rem, env(safe-area-inset-right))
    max(1.02rem, calc(env(safe-area-inset-bottom) * 1.5))
    max(1.02rem, env(safe-area-inset-left));
  gap: 1.45rem;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: var(--global-foreground);
  background-color: hsl(var(--color-100) / 85%);
  backdrop-filter: blur(20px) saturate(2.5) brightness(1.4);

  @media (--from-medium) {
    background: none;
    backdrop-filter: none;
    justify-content: flex-end;
    position: relative;
    inset: unset;


    &[data-header-sticky='true'] {
      position: sticky;
      top: 0;
      backdrop-filter: blur(20px) saturate(2.5) brightness(1.4);
      background-color: var(--header-background);
    }
  }

  & a {
    color: hsl(var(--color-0));
    display: inline-block;
    text-decoration: none;
    line-height: 1;

    &[aria-current='page'] {
      color: hsl(var(--accent-color-alt));
    }
  }
}

.Separator {
  height: 1px;
  background-color: hsl(var(--color-0));
  min-width: 2.9rem;
  display: none;

  @media (--from-medium) {
    display: block;
  }
}
