@import 'media.css';

.Section {
  padding: 2.54rem 0;
  position: relative;

  &:last-child {
    padding-bottom: 4.54rem;
  }

  @media (--from-medium) {
    z-index: 0;
    min-height: 120vh;
    padding: 3.63rem 0;
  }

  &[data-section-is-first='true'] {
    min-height: 100vh;

    @media (--from-small) {
      padding-top: 0;
    }
  }

  &[data-section-accent='true'] {
    --heading-foreground: hsl(var(--color-0));

    background-image: radial-gradient(circle at top, hsl(var(--gradient-color-1)), hsl(var(--gradient-color-2)));
  }
}

.Bg {
  position: absolute;
  display: block;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  @media (--from-medium) {

    @nest .Section[data-section-show-bg='true'] & {
      background-position: center top;
      background-attachment: fixed;
      background-image: var(--bg);
    }
  }
}
