.ThemeSwitcher {
  display: flex;
  gap: 0.36rem;
}

.Action {
  border: 0;
  background: none;
  display: inline-flex;
  flex-shrink: 0;
  color: inherit;
  color: var(--global-foreground);

  &:hover {
    cursor: pointer;
  }

  @nest html[data-theme='light'] &[data-theme-name='light'] {
    color: hsl(var(--accent-color-alt));
  }
  @nest html[data-theme='dark'] &[data-theme-name='dark'] {
    color: hsl(var(--accent-color-alt));
  }
  @nest html[data-theme='auto'] &[data-theme-name='auto'] {
    color: hsl(var(--accent-color-alt));
  }

  & svg {
    margin: 0;
    width: auto;
    height: auto;
    pointer-events: none;
  }
}
