.CodeBlock {
  position: relative;
  width: 100vw;
  max-width: 40rem;
  margin-left: 50%;
  padding: 0 0.5rem;
  transform: translateX(-50%);
}

.Code {
  font-size: 0.9rem;
  overflow: auto;
  border-radius: 0.72rem;
  padding: 28px 1.09rem 1.09rem;
}
