@import 'media.css';

.Cursor {
  pointer-events: none;

  @media (hover: none) {
    display: none;
  }
}

.Ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 800ms ease-out;
  transition-delay: 500ms;

  &[data-size='big'] {
    transform: scale(0.5);
    opacity: 0.2;

    &:not([style]) {
      opacity: 0;
    }

    & circle {
      fill: hsl(var(--accent-color-alt));
    }
  }
}
