.Stack {
  display: flex;
  gap: var(--rowGap) var(--columnGap);
  align-items: var(--vAlign);
  justify-content: var(--hAlign);
  flex-wrap: wrap;

  &[data-stack-column='true'] {
    flex-direction: column;
    align-items: var(--hAlign);
    justify-content: var(--vAlign);
  }
}
